$primary-background: bisque;
$primary-color: lightseagreen;
$background-color: #f06292;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

@mixin vertical-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
